.sectionTitle {
  margin: 1% 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

.wholePage {
  margin-top: 0;
  margin: 0 auto;
  min-width: 800px;
  width: 80vw;
}

.toList {
  display: block;
  margin-bottom: 1%;
  text-align: end;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: small;
  color: #383838;
  cursor: pointer;
}

.detailH2 {
  margin: 1% 0;
  font-family: "Noto Sans KR", sans-serif;
}

.detailH5 {
  margin: 5% 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.containerDetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}

.detailInfo {
  margin: 0;
}

.detailInfo .infoTitle {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.detailInfo .infoTitles h5 {
  color: #383838;
}

.detailInfo .infoTitle .infoTitles,
.detailInfo .infoTitle i {
  margin: 0;
}

.detailInfo .infoTitle i {
  align-self: center;
  cursor: pointer;
}

.detailInfo .boldHr {
  size: 5;
  background-color: #383838;
}

.detailInfo:first-child img {
  width: 30vw;
}

.detailInfo:last-child {
  padding-top: 0;
  width: 45vw;
}

.detailInfo:last-child > p {
  font-size: smaller;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  padding: 0.5rem;
}

.detailInfo:last-child .nutritionInfo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.detailInfo:last-child .nutritionInfo h4 {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: #383838;
}

.detailInfo:last-child .nutritionInfo p {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: small;
}

.detailInfo:last-child .nutritionOuterwrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.detailInfo .centerLine {
  margin: 0;
  border-right: 1px dotted #383838;
}

.detailInfo:last-child .nutritionWrapper:nth-child(even) {
  margin: 0 0.5rem;
  text-align: end;
}

.detailInfo:last-child .nutritionWrapper:nth-child(odd) {
  margin: 0 0.5rem;
  text-align: start;
}

.allergicInfo {
  background-color: #efefef;
  padding: 1rem !important;
  font-weight: 600 !important;
  margin-bottom: 4rem;
}

.review {
  overflow: hidden;
  margin-bottom: 2rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: small;

  h4,
  hr {
    margin-bottom: 1%;
  }
  span {
    padding-bottom: 1%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: small;
  }
  form {
    display: inline;
  }
  .reviewID {
    all: unset;
    padding: 0.5rem;
    width: 10%;
    margin-right: 1%;
    background-color: #efefef;
  }
  .reviewLog {
    all: unset;
    display: inline;
    width: 70%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-right: 1%;
    background-color: #efefef;
  }

  .writeReview {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    padding: 1%;
    border-radius: 10px;
    background-color: #383838;
    color: #ffffff;
  }
  .commentUnit {
    margin: 1.2% 0;
    line-height: 1.2;
  }

  .commentArea i {
    cursor: pointer;
    padding: 0 1%;
    font-size: small;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  height: 20%;
  padding: 2%;
  background-color: #383838;
  color: #ffffff;
}

footer .footerTitle {
  margin-bottom: 1rem;
}

footer p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: small;
  font-weight: 500;
}
