*{
   box-sizing:border-box;

 }

html {
   height: 100%;
  background-color: rgb(255, 255, 255);
}
  
body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
 }

.master-container{
width: 899px;
}



.coffee-list-title{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(246,245,240);
 }

 .coffee-list-title h2{
    font-size: 12px;
    color: gray;
 }

 .coffee-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap:33px;
    width: 100%;
    margin-bottom: 50px;
 }


.fa-coffee{
    padding: 0 20px 0 20px;
}