nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(246,245,240);
 }

nav a{
    margin-left: 20px;
    color: gray;
 }