.listBody {
  background-color: #ffffff;
  margin: 0 5rem;

  .title {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background: #f4f4f2;
  }

  .coldBrewSet,
  .brewedSet {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: space-between;
  }

  @media (max-width: 900px) {
    margin: 0;
    padding: 0 1rem;

    .title {
      text-align: center;
      span {
        display: block;
        font-size: small;
      }
    }

    .coldBrewSet,
    .brewedSet {
      grid-template-columns: repeat(3, 0fr);
    }
  }
}
