.Detail {
  .menu-type {
    margin: 20px 50px;
    font-size: 30px;
    font-weight: 700;
  }
  .menu-state {
    margin: 20px 50px;
    text-align: right;
  }
  .menu-img {
    margin: 0 20px;
    width: 50%;
  }
  .section-wrapper {
    display: flex;

    .menu-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .menu-review-wrapper {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      .menu-section {
        .menu-title {
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
          border-bottom: 2px solid black;
          .menu-name {
            p {
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
        .menu-explain {
          padding: 20px 0;
        }
        .menu-info {
          table {
            width: 100%;
            tr {
              td {
                padding: 5px;
                &:nth-child(even) {
                  text-align: right;
                }
                &:nth-child(2) {
                  border-right: 1px solid rgba(0, 0, 0, 0.1);
                }
              }
              &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                td {
                  padding: 15px 5px;
                  font-size: 18px;
                  font-weight: 600;
                }
                td:nth-child(2) {
                  border-right: none;
                }
              }
              &:nth-child(2) {
                td {
                  padding-top: 15px;
                }
              }
            }
          }
          .menu-allergy {
            padding: 10px;
            margin: 20px 0;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      .review-section {
        .review-title {
          padding-bottom: 5px;
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .review-comment {
          .comment {
            margin-bottom: 5px;
          }
          .comment-id {
            margin-right: 10px;
            font-weight: 700;
          }
        }
        .comment-input {
          width: 100%;
          padding: 5px;
          margin: 10px 0;
          border: none;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    .ul-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 30px 50px;
      ul {
        li {
          padding: 5px;
        }
      }
    }
  }
}
