@import "../../../styles/variables.scss";

.bodyLogin {
  background-color: #eeefef;
  height: 100vh;

  .backgroundLogin {
    @include flexCenter;
  }
  .containerLogin {
    @include flexCenter;
    flex-direction: column;
    width: 28rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 5rem;

    img {
      margin: 3rem 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    .Input {
      all: unset;
      width: 20rem;
      margin: 0.5rem 0;
      padding: 0.5rem;
      border: 1px solid #dddddd;
      border-radius: 10px;
      background: #eeefef;
    }

    .Input:focus {
      background-color: #ffffff;
    }

    .InputOn {
      all: unset;
      outline: none;
      width: 20rem;
      margin: 0.5rem 0;
      padding: 0.5rem;
      border: 1px solid rgb(3, 163, 16);
      border-radius: 10px;
      background: #eeefef;
    }

    i {
      display: inline;
      position: relative;
      width: 0;
      bottom: 2.2rem;
      right: -19rem;
      cursor: pointer;
    }

    .loginButton {
      all: unset;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 5rem;
      text-align: center;
      background-color: #378bcc;
      opacity: 0.5;
      line-height: 1.5;
      border-radius: 10px;
      text-decoration: none;
      color: #ffffff;
    }

    .loginButtonOn {
      all: unset;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 5rem;
      text-align: center;
      background-color: #378bcc;
      opacity: 1;
      cursor: pointer;
      line-height: 1.5;
      border-radius: 10px;
      text-decoration: none;
      color: #ffffff;
    }

    .searchPw {
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      background-color: #ffffff;
      color: #a8bfd0;
      margin: 4rem 0;
    }

    .searchPw:hover,
    i:hover {
      color: #378bcc;
    }
  }
}
