.header__box {
    width: 94vw;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
    padding: 12px;
    background-color: bisque;
    text-indent: 2px;
}

.header__title {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: xx-large;
}

.header__btn {
    display: flex;
    align-items: center;
    padding-right: 20px;
    list-style: none;
    color: rgb(170, 170, 170);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.header__btn li {
    padding-left: 20px;
}


.menubtn {
    position: absolute;
}

.hidden {
    display: none;
}



@media screen and (max-width: 768px) {
  
    .menubtn {
        display: inline-block;
        position: absolute;
        right: 80px;
    }
}   