@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.List {
  .section {
    .title {
      padding: 15px;
      background-color: #f4f4f2;

      span:first-child {
        padding-right: 10px;
        font-weight: 600;
      }

      i {
        padding-right: 5px;
        color: #a3c650;
      }

      span:last-child {
        font-size: 13px;
      }
    }

    .menus {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin: 10px;
    }
  }
}
